nav{
    height: 8em;
    background-image:     linear-gradient(
        to bottom,
        hsl(281.95, 100%, 26.08%) 0%,
        hsla(277.87, 60.71%, 33.21%, 0.985) 8.6%,
        hsla(275.76, 43.49%, 38.69%, 0.959) 16.5%,
        hsla(274.3, 31.92%, 44.25%, 0.923) 23.7%,
        hsla(273.33, 23.84%, 49.86%, 0.877) 30.5%,
        hsla(272.72, 22.46%, 55.45%, 0.824) 36.8%,
        hsla(272.4, 21.54%, 60.95%, 0.764) 42.8%,
        hsla(272.33, 20.91%, 66.31%, 0.7) 48.6%,
        hsla(272.49, 20.55%, 71.47%, 0.633) 54.3%,
        hsla(272.88, 20.49%, 76.4%, 0.563) 60%,
        hsla(273.55, 20.8%, 81.05%, 0.493) 65.9%,
        hsla(274.57, 21.64%, 85.38%, 0.423) 71.9%,
        hsla(276.11, 23.4%, 89.38%, 0.356) 78.2%,
        hsla(278.43, 27.15%, 93.01%, 0.292) 84.9%,
        hsla(282.05, 37.1%, 96.23%, 0.233) 92.1%,
        hsla(288, 100%, 99.02%, 0.18) 100%
      );
}
.line{
    width:100%;
    height: 2px;
    color:black;
}
